* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    font-family: 'lato', Helvetica, Arial, sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(45deg, #ac3053, #41c0d5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f2d2d;
}
.container {
    width: 30rem;
    height: 48rem;
    background: rgba(255,255,255,.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}
.title {
    font-style: italic;
    font-size: 2.3rem;
}
.row {
    display: flex;
    flex-direction: column;
    position: relative;
}
label {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.bill-amount {
    appearance: none;
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #0010ff;
    text-align: center;
}
#rupee-symbol {
    position: absolute;
    bottom: 0;
    left: -2rem;
    font-size: 2.5rem;
}
#tip-percentage,
#split-value {
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    right: 0;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255, 52, 113);
    opacity: 0.5;
    height: 1rem;
    margin-top: 1rem;
    outline: none;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity 0.2s;
}
.slider:hover {
    opacity: 0.8;
}
.slider::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: #3ab4e6;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background-color: #3ab4e6;
    cursor: pointer;
    border-radius: 50%;
}
.per-person {
    background: rgba(11, 190, 232, 0.4);
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 3rem;
}
.text {
    font-size: 2rem;
}
.money {
    font-size: 2.5rem;
    font-weight: bold;
}
.row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.row-2 {
    display: flex;
    justify-content: space-between;
}
.text-2 {
    font-size: 1.5rem;
    text-align: center;
}
.money-2 {
    font-size: 1.7rem;
    font-weight: bold;
}