* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    font-family: 'lato', Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.container {
    max-width: 50rem;
    width: 80%;
    min-height: 60rem;
    background: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.box {
    /* --h-offset : 0;
    --v-offset : 0;
    --blur : 10px;
    --spread : 10px;
    --color : #f0f;
    --opacity : 0.50;
    --inset : inset;
    box-shadow:  var(--h-offset) var(--v-offset) var(--blur) var(--spread) var(--color) var(--opacity) var(--inset); */
    box-shadow: -12px -1px 217px -200px rgba(23,255,117,0) inset;
    border: 1px solid red;
    padding: 2rem 3.5rem;
}
.properties-wrapper {
    font-size: 1.5rem;
}
.property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
}
.property > input {
    width: 10rem;
    margin: 0 2rem;
}
.output {
    font-size: 1.5rem;
    font-family: monospace;
    max-width: 40rem;
    min-height: 12rem;
    background: #333333;
    color: #ffffff;
    border-radius: 0.5rem;
    text-align: left;
}
.code {
    padding: 1rem;
}
.code > p {
    margin-bottom: 1rem;
}